<%- include('header'); %>

<div class="container"><br>

    <h2>Update password category</h2>

    <form class="form" action="/password-category/update" method="POST">
        <% if (records != '') { %>

        <input type="hidden" name="id" value="<%= records._id %>">
        <div class="form-group">
            <label>Password Category</label>
            <input type="text" class="form-control" name="category" placeholder="Enter Password Category"
                value="<%= records.category %>" required>
        </div>
        <% } %>
        <div class="form-group">
            <input type="submit" class="btn btn-success" name="upCategory" value="Update Category">
        </div>
    </form>
</div>

<%- include('footer'); %>